.App {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    height: 30px;
    display: flex;
    padding: 20px 50px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex; 
    flex-direction: column;
    padding: 20px 15%;
}
.hero--img {
   vertical-align: middle;
   max-width: max-content;
}
.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    vertical-align: middle;
   max-width: max-content;
    /* position: absolute; */
}

.card {
    width: 175px;
    height: auto;
    /* margin: 2px; */
    font-size: 12px;
    flex: 0 0 auto;         
    display: flex;          
    flex-direction: column;
    vertical-align: middle;
    max-width: max-content;
}

.card--image {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 3px;
    border-radius: 9px;
    margin-bottom: 9px;
}

/* ADD */
.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

/* ADD */
.card--price {
    margin-top: auto;
}

.bold {
    font-weight: bold;
}